@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');


.banner{
    background-color : blueviolet;
}

 .banner .search_input{
     width: 50%;
     text-align: left;
     border: 1px solid white;
     font-size: 20px;
     outline: none;
     border-radius: 20px;
     height: 40px;
     padding: 15px;
     background-color:  white;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
    
 .search_input, ::placeholder{
 color: gray;
 /* padding-left: 16px; */
 font-size: 1rem;
 font-family: 'Poppins', sans-serif;
 }

.welcome_name h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}

.welcome_name p{
    font-size: 1rem;
    color: white;
}

.card_container{
    display: flex;
 flex-wrap: wrap;
justify-content: center;

}

.card{
    width: 250px;
    margin: 10px;
}

.card_body h3{
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;

}

.card .card_image img{
   
    object-fit: fill;
    height: 200px;
    width: 100%;
    margin-bottom: 8px;
    background-size: cover;
}

.card .card_image .book_button{
    background-color: blueviolet;
    color: white;
    display: block;
    text-align: center;
    font-size: 13px;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.disabled_button{
    opacity: 0.5;
    background-color: blueviolet;
    color: white;
    display: block;
    text-align: center;
    font-size: 13px;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.card .card_image button h6{
    font-size: 10px;
}


@media only screen and (max-width: 600px) {
    
.banner .search_input{
    width: 100%;
}

.card{
    width: 290px;
    margin: 10px;
}

    }
