@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');


/* .banner{
    border: 1px solid rgb(203, 189, 189);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    background-color: rgb(251, 251, 251);
    margin: 10px;
} */
.select_menu_container{
    padding-left: 100px;
}
select{
    width: 100px;
    padding: 1px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(203, 203, 203);
}

option:hover{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid red;
}

 .banner .search_input{
     width: 50%;
     text-align: left;
     border: 1px solid white;
     font-size: 20px;
     outline: none;
     border-radius: 20px;
     height: 40px;
     padding: 15px;
     background-color:  white;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
    
 .search_input, ::placeholder{
 color: gray;
 font-size: 1rem;
 font-family: 'Poppins', sans-serif;
 }

.welcome_name h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 60px;
}

.welcome_name p{
    font-size: 1rem;
}

.card_container{
    display: flex;
 flex-wrap: wrap;
justify-content: center;

}

.card{
    width: 18rem;
    margin: 10px;
    box-shadow: 4px 18px 18px 13px rgba(200, 194, 194, 0.3);
    border: 1px solid white;
}  

.card .img_wrapper{
    padding-left: 10px;
    padding-top: 10px;
}

.card .img_wrapper .therapist_name{
    font-size: 14px;
}

.card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  



.card-body h3{
    font-size: 13px;
    margin-bottom: 10px;
}

.book_button{
    background-color: blueviolet;
    color: white;
    display: block;
    text-align: center;
    font-size: 13px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px 18px 10px 18px;
}

.disabled_button{
    opacity: 0.5;
    background-color: blueviolet;
    color: white;
    display: block;
    text-align: center;
    font-size: 13px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px 18px 10px 18px;
}

.fa-icons{
    color: blueviolet;
}

@media only screen and (max-device-width: 600px) {
    
.banner .search_input{
    width: 100%;
}

.select_menu_container{
    padding-left: 40px;
}

.select_menu_container span{
    font-size: 13px;
    color: gray;
}

.welcome_name h3{
    font-size: 25px;
}

.card{
    width: 350px;
    margin: 10px;
}

    }
