@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');

.therapist_container{
    /* padding:25px 10%; */
    text-align: center;
    animation: fadeIn .5s linear;
}

.therapist_container .heading{
    padding-top: 150px;
    height: 400px;
   font-family: 'Poppins', sans-serif;
   font-weight: 100;
    font-size: 2.7rem;
    animation: fadeIn 1s linear;
    background: #e3e2ed;
    font-weight: bold;
}

.therapist_container .heading span{
    background: linear-gradient(to right, #f32170,
    #0a6bff, #cf23cf, #0a6bff);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
    font-weight: 900;
}

.therapist_container .search_input{
    width: 50%;
    text-align: left;
    border: 1px solid white;
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    height: 40px;
    padding: 15px;
    background-color:  white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search_input, ::placeholder{
color: gray;
padding-left: 16px;
font-size: 1rem;
font-family: 'Poppins', sans-serif;
}

.therapist_container .image_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
  background-color: white;
  height: 450px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.therapist_flexed_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
   
}

.therapist_container .image_container .image{
    padding: 3px;
    padding-bottom: 18px;
    border-radius: 5px;
    width: 260px;
    animation: fadeIn .5s linear;
}

.therapist_container .image_container .image h3{
    font-weight: 100;
}

@keyframes fadeIn {
    0%{
        transform: scale(.5) translateY(-10);
        opacity: 0;
    }
}

.therapist_container .image_container .image .img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    mask-border: 10px;
    margin-bottom: 10px;
}

.therapist_container .image_container .image h3{
    font-size: 1rem;
    text-align: left;
    padding-left: 10px;
   font-family: 'Poppins', sans-serif;
}

.therapist_container .image_container button{
    border-radius: 2px;
    padding: 5px;
    /* width:100px; */
    height: 2.5rem;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;  
    background-color: #0a6bff;
     color: white;
     outline: none;
     border: none;
     width: 100%;
     display: flex;
     justify-content: center;
     padding-top: 10px;

}

@media (max-width: 400px) {
    .therapist_container .search_input{
        width: 19rem;
    }

    .therapist_container .image_container button{
        width: 100%;
 
    }
   
    .therapist_container .image_container .image{
        width: 17rem;
    }

    .therapist_container .heading{
        padding-top: 100px;
        height: 400px;
       font-weight: 100;
        font-size: 2rem;
        animation: fadeIn 1s linear;
        background: #e3e2ed;
        text-align: left;
        padding-left: 20px;
        font-weight: bold;
    } 
}


@media screen and (max-width: 500px) {
    .therapist_container .heading{
        font-size: 2.2rem;
    }
}

