/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap'); */


        .home{
          padding-top: 20px;
          padding-left: 25px;
          padding-right: 25px;
          font-family: 'Poppins', sans-serif;
         
        }

        .hero {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-top: 100px;
        }
        
        .hero-text {
          flex-basis: 40%;
        }

        .hero-text h1{
          font-weight: 700;
          font-size: 60px;
         }

         .hero-text p{
          color: gray;
         }
        
        .hero-image {
          flex-basis: 60%;
          padding-bottom: 40px;
        }
        
        img {
          max-width: 100%;
          height: auto;
        }


        .hero-image img {
          animation: bounce 1s infinite;
        }
        
        @keyframes bounce {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-10px);
          }
          100% {
            transform: translateY(0);
          }
        }


        .navigate_btn{
          padding: 15px 15px 15px;
          outline: none;
          border-radius: 8px;
          border: none;
          background-color: blueviolet;
          color: white;
          font-size: 14px;
          font-weight: bold;
        }


        
        @media screen and (max-width: 768px) {
          .hero {
            flex-direction: column;
            text-align: center;
          }

          .home{
            padding-top: 65px;
            padding-left: 16px;
          }
  
          
          .hero-text,
          .hero-image {
            flex-basis: 100%;
          }

          .hero-image{
            padding-top: 70px;
          }
           
  .hero-text {
  text-align: left;
  }

  .hero-text p{
    font-size: 12px;
    }

  .hero-text h1{
  font-size: 35px;
  }

  .navigate_btn{
    font-size: 12px;
    font-weight: bold;
  }

        }
        