.calendar_and_time_container{
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar{
  height: 300px;
  border-radius: 10px;
  padding-top: 20px;
  margin: 10px;
  width: 60%;
  box-shadow: 4px 4px 14px 3px rgba(0,0,0,0.3);
  background-color: white;
}

.calendar_and_time_container .therapist_name{
  font-weight: 700;
}

.calendar_and_time_container h6{
  padding-left: 12px;
  padding-top: 40px;
  font-weight: 100;
  font-size: 14px;
}

.calendar h2{
  font-size: 20px !important;
    font-family: 'Poppins', sans-serif;
    padding-left: 8px;
    font-weight: 100;
}

.date {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

 
}

.day {
  font-size: 18px;
  font-weight: bold;
  width: 14.28%;
  text-align: center;
  padding: 10px 0;
  color: blueviolet;
}


.number {
  width: calc(100% / 7);
  height: 39px;
  text-align: center;
  line-height: 1.5;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px;
  transition-duration: 0.2s;
  font-weight:300;
  font-size: 13px;
}


.number:hover {
  color: blueviolet;
}


@media (max-width: 600px) {

  .calendar_and_time_container{
   flex-direction: column;
  }

.calendar{
  width: 95%;
  height: 360px;
}

  .number {
    height: 50px;
  }
  
 .day {
   font-size: 16px;
   justify-content: space-between;
 } 
}