@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');

/* .confirm_booking_container{
    padding-top: 200px;
    padding-bottom: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
   
}

.confirm_booking_title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
 
}

.confirm_booking_details{
    background-color: #0a6bff;
    height: 40rem;
    width: 28rem;

}

.confirm_booking_details img{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}

.confirm_booking_details span{
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    padding-top: 220px;
} */

/* .confirm_booking_details button{
    border-radius: 5px;
    padding: 5px;
    height: 2.5rem;
    width: 8rem;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
     background-color: #0a6bff;
     color: white;
     border: none;
  
} */

/* hr{
    
    width: 100%;
    color: black;
    
} */

.confirm_booking_container{
    padding-top: 200px;
    padding-bottom: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm_booking_details{
    padding-top: 20px;
    height: 27rem;
    width: 22rem;
    /* border: 1px solid rgb(205, 203, 203); */
    box-shadow: rgba(109, 104, 104, 0.35) 1px 1px 2px 2px;
    border-radius: 5px;
    padding-left: 20px;

}

.confirm_booking_details span{
    font-weight: bold;
}

.confirm_booking_image_and_time{
   padding-top: 25px;
}

.confirm_booking_image_and_time img{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin-bottom: 10px;
    
}

.fa-cal, .fa-clock{
    margin-bottom: 4px;
}



.confirm_booking_details button{
    border-radius: 2px;
    padding: 2px;
    height: 2.5rem;
    width: 90%;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
     background-color: #0a6bff;
     color: white;
     border: none;
}


hr{
    
    width: 90%;
    /* margin-left: auto; */
    margin-right: auto;
    color: black;
    padding-bottom: 10px;
}


@media screen and (max-width: 400px)  {
    
    .confirm_booking_details{
        width: 19rem;
    }
    
    } 






    