.calendar_container{
  padding-top: 200px;
  padding-bottom: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}



.calendar_second_section img{
  width: 70px;
  height: 70px;
  border-radius: 50%;

}

.calendar_second_section .with{
   font-weight: bold;
}

.calendar_container .btn{
  border-radius: 2px;
  padding: 5px;
  width: 65%;
  height: 2.5rem;
  font-size: .9rem;
  font-family: 'Poppins', sans-serif;
  background-color: #0a6bff;
   color: white;
   border: none;
}



@media screen and (max-width: 400px)  {
    
  .calendar_container{
    padding-top: 200px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  }  





