@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gothic+A1:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.about_first_section{
    padding-top: 150px;
}

.about_first_section h2{
    font-family: 'Poppins', sans-serif;
    color: crimson;
}


.without_suicide{
    font-size: 6rem;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}

.without{
    font-size: 14rem;
    color: crimson;
}

span hr{
    color: crimson;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 526px)  {
    .without_suicide{
        font-size: 4rem;
    }
    
.without{
    font-size: 5.5rem;
}

}

/* SECOND SECTION */

.about_second_section{
    padding-top: 70px;
}

.about_second_section h2{
    color: crimson;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.about_second_section h4{
    padding-top: 27px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight:100;
    color: rgb(119, 107, 107);
    font-size: 1.3rem;
}

.about_second_section h3{
    padding-top: 20px;
    font-size: 1.3rem;
}

/* THIRD SECTION */

.about_third_section {
   padding-top: 70px;
}

.about_third_section h1{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.about_third_section span{
    color: crimson;
    font-size: 5rem;
}

.about_third_section h2{
    padding-top: 70px;
    font-family: 'Poppins', sans-serif;
    color: rgb(119, 107, 107);
    font-size: 1.5rem;
}

.about_third_section .we_have_a_problem{
    color: rgb(119, 107, 107);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.about_third_section .help_us_talk{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

/* FOUTH SECTION */

.about_fourth_section{
    padding-top: 70px;
    background-color: crimson;
    /* margin: 2rem; */
}

.about_fourth_section .be_a_victim{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    
}

.about_fourth_section span{
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.about_fourth_section .row{
    padding-bottom: 100px;
    padding-top: 80px;
}

.about_fourth_section button{
    width: 15rem;
    background-color: white;
    border: none;
    height: 68px;
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: large;
}

.about_fourth_section button:hover{
    background-color: black;
    color: white;
    transition-duration: 0.2s;
}


/* MEMDIA QUERY */

@media (min-width: 355px)  {
    .about_second_section div{
        text-align: left;
        padding-left: 8px;
    }
    .about_third_section div{
        text-align: left;
        padding-left: 8px;
    }

    .about_fourth_section div{
        text-align: left;
        padding-left: 8px;
    }
    .about_fourth_section button{
       text-align: center;
    }
}
